// Variables
$roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$robotoCondensed: "Roboto-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
$glyphs: "Glyphs";



// Roboto
@font-face {
    font-family: 'Roboto';
    src: url('#{ $fontPath }roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{ $fontPath }roboto/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{ $fontPath }roboto/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{ $fontPath }roboto/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{ $fontPath }roboto/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{ $fontPath }roboto/Roboto-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}



// Roboto-condensed
@font-face {
    font-family: 'Roboto-Condensed';
    src: url('#{ $fontPath }roboto-condensed/RobotoCondensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}



// Fontawesome
@font-face {
    font-family: 'Glyphs';
    src: url('#{ $fontPath }fontawesome/fontawesome-webfont.eot');
    src: url('#{ $fontPath }fontawesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{ $fontPath }fontawesome/fontawesome-webfont.woff2') format('woff2'),
         url('#{ $fontPath }fontawesome/fontawesome-webfont.woff') format('woff'),
         url('#{ $fontPath }fontawesome/fontawesome-webfont.ttf') format('truetype'),
         url('#{ $fontPath }fontawesome/fontawesome-webfont.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
