/* Modus Versus Slicing
 *
 * /sass/generic/_box-sizing.scss - box-sizing reset
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
